body { 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-image: url("https://i.pinimg.com/736x/29/ed/f0/29edf08b22efa28cb62daf3a9edb5dd5.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover;

}

main{
  background-image: url("");
  max-width: 790px;
  margin: 0 auto;
  padding-top: 300px;
  height: 650px;
  display:flex;
  gap: 40px;
  overflow: auto; /* Show scrollbars */
   
}

.dropdown {
  position: relative;
}

/* Style the dropdown button */
.dropbtn {
  background-color: #d95c67;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c65252e5;
  min-width: 200px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(91, 4, 4, 0.49);
}

/* Links inside dropdown content */
.dropdown-content a {
  color: rgb(255, 242, 223);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #a04c56;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: #3e628e;
}

#myInput {
  width: 60%; /* Full-width */
  background-color: rgb(255, 255, 255);
  color: rgb(147, 21, 21);
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 3px solid #af3a5b;
  border-radius: 20px; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  backdrop-filter:blur(2px);
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #b22b2b; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #e06b6b; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  border-radius:5px;
  color: rgb(255, 253, 234); /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color:  #a04c56; /* Add a hover effect to all links, except for headers */
}

.header1{
  background-color: white;;
  border:#af3a5b;
  border-radius: 20px;
  padding-right: 50px;
  height: 50%;

}
.header1 h2, menu{
  color:rgb(175, 7, 32);
}


img{
  border-radius: 80px;
  width : 70px;
}
.user-card{
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgba(236, 92, 92, 0.836);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(209, 53, 53, 0.622);
  margin: 20px 0;
  color:#ffffff;
}

.header2{
  width: 100%;
  float: right;

}